/* Type your code here */


/* change the font family and spacing as per your project font */
*{
	border: 0;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body{
	margin: 50px;
	background-image: url("./assets/background-image1.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	

}
.container{
	margin-right: 275px;
	background: white;
	margin-top: 1px;
	text-decoration: none;
}
h5{
		color: black;
		text-shadow: 1px 1px 3px #000000;
		font-size: 40px;
}
#logo{
	display: flex;
	justify-content: flex-end;

}
h4{
	margin-top: 1px;
}

.grid1{
	display: grid;
	background: orangered;
	color: white;
	margin-top: 30px;
	padding: 10px;
	grid-template-columns: 1fr 0.1fr;
	text-align: space-around;
	
  }
  .grid2{
	  display:grid;
	  grid-template-columns: 12fr 1fr 1fr 1fr 1fr 1fr;
	  height: 10px;
	  padding: 10px;
	  margin-top: 10px;
  }
  .grid2,.grid3,.grid4,.grid5,.grid6,.grid7,.grid8,.grid9,.grid10,.grid11{
	border-bottom: 1px solid lightgray;
	border-left: 1px solid whitesmoke;
  }
  .grid3,.grid4,.grid5,.grid6,.grid7,.grid8{
		display:grid;
		grid-template-columns: 5fr 7fr 1fr 1fr 1fr 1fr 1fr;
		padding: 6px;
		margin-top: 5px;
  }
  .grid9,.grid10,.grid11{
	  display: grid;
	  grid-template-columns: 2.4fr 1fr ;
	  height: 20px;
	  padding: 10px;
  }
  .grid11{
	  border-bottom: 1px solid whitesmoke;
	  grid-template-columns: 0.6fr 1.5fr ;
  }
.footer{
    display:flex;
    flex-direction: row;
    align-content: flex-end;
	position: relative;
	/*top: 750px;*/
	margin-left: -40px;
	margin-top: 25px;
	font-size: 18px;
	/* font-family: Nunito Sans; */
    font-style: normal;   
}
strong,p{
	color: gray;
}
a{
	text-decoration: none;
	color: rgba(19, 19, 214, 0.774);
}
